<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Dashboard | Vaishnavi Gramin Bank</title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Dashboard CSS -->

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>

<div class="dashboard">

    {% include 'components/sidebar.html' %}

    <div class="main-content">

        {% include 'components/navbar.html' %}
        {% include 'components/cards.html' %}
        {% include 'components/quick_actions.html' %}
        {% include 'components/transactions.html' %}
        

    </div>

</div>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>

</html>