<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Money</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2 class="text-center mb-4">
            💸 Transfer Money
        </h2>

        <form method="POST">

            <div class="mb-3">

                <label>Receiver Account Number</label>

                <input
                    type="text"
                    class="form-control"
                    name="account_number"
                    placeholder="Enter Account Number"
                    required>

            </div>

            <div class="mb-3">

                <label>Amount</label>

                <input
                    type="number"
                    class="form-control"
                    name="amount"
                    required>

            </div>

            <button class="btn btn-success w-100">

                Send Money

            </button>

        </form>

    </div>

</div>

</body>
</html>