<div class="cards-section">

    <!-- Balance Card -->
    <div class="balance-card">

        <span>Total Balance</span>

        <div class="balance-header">

            <h1 id="balanceAmount">
    ₹{{ "{:,.2f}".format(user.balance) }}
</h1>

            <i class="bi bi-eye-fill" id="toggleBalance"></i>

        </div>

        <p>Available Balance</p>

    </div>

    <!-- ATM Card -->

    <div class="atm-card">

        <div class="card-top">

            <span>Vaishnavi Bank</span>

            <i class="bi bi-credit-card-2-front-fill"></i>

        </div>

        <div class="card-number">

            {{ user.card_number }}

        </div>

        <div class="card-bottom">

    <div>

        <small>Card Holder</small>

        <h5>{{ user.fullname.upper() }}</h5>

    </div>

    <div>

        <small>Valid Thru</small>

        <h5>12/30</h5>

    </div>

</div>

<div class="mt-3">

    <small>Account Number</small>

    <h6>{{ user.account_number }}</h6>

</div>

    </div>

</div>