<div class="flip-card">

    <div class="flip-card-inner" id="bankCard">

        <!-- Front -->

        <div class="flip-card-front">

            <div class="card-header">

                <h4>Vaishnavi Gramin Bank</h4>

                <i class="bi bi-credit-card-2-front-fill"></i>

            </div>

            <div class="chip"></div>

            <div class="card-number">

                **** **** **** 4589

            </div>

            <div class="card-footer">

                <div>

                    <small>Card Holder</small>

                    <h5>ROHAN BADNALE</h5>

                </div>

                <div>

                    <small>Expiry</small>

                    <h5>12 / 30</h5>

                </div>

            </div>

        </div>

        <!-- Back -->

        <div class="flip-card-back">

            <div class="black-strip"></div>

            <div class="cvv-box">

                <span>CVV</span>

                <strong>***</strong>

            </div>

            <p>

                Authorized Signature

            </p>

        </div>

    </div>

</div>