<!-- ===================== SIDEBAR ===================== -->

<aside class="sidebar">

    <!-- Logo -->

    <div class="logo">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">

        <div>

            <h2>Vaishnavi</h2>

            <span>Bank</span>

        </div>

    </div>

    <!-- Navigation -->

    <ul class="menu">

        <li class="active">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </li>

        <li>
            <i class="bi bi-send"></i>
            <span>Transfer</span>
        </li>

        <li>
            <i class="bi bi-clock-history"></i>
            <span>History</span>
        </li>

        <li>
            <i class="bi bi-people"></i>
            <span>Beneficiary</span>
        </li>

        <li>
            <i class="bi bi-credit-card"></i>
            <span>Cards</span>
        </li>

        <li>
            <i class="bi bi-phone"></i>
            <span>Recharge</span>
        </li>

        <li>
            <i class="bi bi-receipt"></i>
            <span>Bills</span>
        </li>

        <li>
            <i class="bi bi-person"></i>
            <span>Profile</span>
        </li>

        <li>
            <i class="bi bi-gear"></i>
            <span>Settings</span>
        </li>

    </ul>

    <!-- Bottom -->

    <div class="logout">

        <i class="bi bi-box-arrow-right"></i>

        Logout

    </div>

</aside>